/***** INTRODUCCIÓ *****/
.intro {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    max-width: unset;
    background: -webkit-linear-gradient(top, rgba(255, 210, 255, 0.59), rgba(30, 209, 26, 0.3) ), url("../images/skateboard-405894_1920.jpg");
}

.intro h2 {
    border-bottom-color: white;
    margin-bottom: 10px;
}

.Skate1 {
    margin: 0 auto;
    padding: 10px;
    width: 85%;
    max-width: 1200px;
    color: black;
}
.Skate1 img{
    width: 50%;
    justify-content: center;
}

.intro p {
    margin: 20px 0;
    text-align: justify;
}




/***** Historia *****/
.container{
    background-color: rgba(30,209,26,0.55);
}
.Historia {
    margin: 0 auto;
    padding: 10px;
    width: 85%;
    max-width: 1200px;
    color: black;
}

.Historia p {
    margin-top: 10px;
}

#skatepark1 {
    width: 40%;
}


/***** BIBLIOGRAFIA *****/
.biblio {
    margin-bottom: 20px;
    width: 100%;
}

.biblio li {
    margin: 10px 30px;
}
