/***** FOOTER *****/
footer {
    display: flex;
    flex-wrap: wrap;

}

footer a {
    color: black;
}

footer h2 {
    margin-bottom: 10px;
}


/***** LICENSE *****/
.license {
    margin-right: 20px;
    flex: 1;
}

.license_contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.license img {
    max-width: 250px;
    justify-self: end;
    border-radius: 15px;
}

.contact {
    flex: 1;
}

.contact li {
    margin-left: 20px;
    margin-top: 5px;
}
